<div class="lang-select">
  <select [(ngModel)]="currentLang" (change)="changeLanguage()">
    <option value="en">English</option>
    <option value="ru">Русский</option>
  </select>
</div>

@if (!authService.isLoggedIn()) {
  <p-button (click)="authService.anonymousLogin()" class="m-8">
    {{ 'anonymous-login' | translate }}
  </p-button>

  <p-button (click)="authService.signInWithGoogle()" class="m-8">
    {{ 'google-login' | translate }}
  </p-button>

  <div>
    {{ authService.errorMessage() }}
  </div>
} @else () {
  <div class="fixed inset-0 flex items-center justify-center bg-gray-100 dark:bg-gray-900">
    <div class="container mx-auto max-w-md p-6 bg-white dark:bg-gray-800 border-2 border-blue-500 rounded-lg shadow-lg">
      <router-outlet></router-outlet>
    </div>
  </div>
}
