<div class="chat-container">


  <div class="messages">
    @for (message of messages(); track message.timestamp) {
      <div class="message">
        {{ message.text }} {{ message.emoji }}
      </div>
    }
  </div>

  <div class="input-container">
    <input type="text"
           class="p-2 w-full"
           (keyup.enter)="sendMessage()"
           [(ngModel)]="newMessage"
           placeholder="{{ 'message.placeholder' | translate }}"/>

    <button class="" (click)="showDialog()">😊</button>

    <p-dialog
      [header]="'select-emoji' | translate"
      [(visible)]="isModalVisible"
      [modal]="true"
      [style]="{ width: '400px' }"
      [draggable]="false"
      [resizable]="false"
      class="rounded-lg"
      (onHide)="onModalClose()"
    >
      <emoji-picker (emoji-click)="addEmoji($event)"></emoji-picker>
    </p-dialog>

    <p-button (click)="sendMessage()">{{ 'send' | translate }}</p-button>
  </div>
</div>
