.chat-messages {
  height: 400px;
  overflow-y: scroll;
}

.messages { height: 300px; overflow-y: auto; }

.message { padding: 10px; border-bottom: 1px solid #eee; }

.input-container { display: flex; gap: 10px; }

.owner {
  text-align: end;
}

emoji-picker {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.chat-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
