<div class="text-red-500">
  {{ authService.errorMessage() }}
</div>

<div class="container m-10 mx-auto p-6 bg-white dark:bg-gray-800 border-2 border-blue-500 rounded-lg shadow-lg">
  <div class="float-right">
    <app-language-selector></app-language-selector>
  </div>

  @if (!authService.isLoggedIn()) {
    <p-button (click)="authService.anonymousLogin()" class="m-8">
      {{ 'anonymous-login' | translate }}
    </p-button>

    <p-button (click)="authService.signInWithGoogle()" class="m-8">
      {{ 'google-login' | translate }}
    </p-button>
  } @else () {
    <p-button [style]="{'background-color': 'transparent', 'color': 'black', 'border-color': 'lightgray'}" label="Logout" (click)="authService.logout()"></p-button>

    <router-outlet></router-outlet>
  }
</div>
