<div class="chat-container">
  <p-button label="Logout" (click)="authService.logout()"></p-button>

  <div class="messages">
    @for (message of messages(); track message.id) {
      <div class="message">
        {{ message.text }} {{ message.emoji }}
      </div>
    }
  </div>

  <div class="input-container">
    <input type="text" [(ngModel)]="newMessage" placeholder="{{ 'message.placeholder' | translate }}"/>
    <button (click)="toggleEmojiPicker()">😊</button>
    @if (showEmojiPicker()) {
      <emoji-picker (emoji-click)="addEmoji($event)"></emoji-picker>
    }
    <button (click)="sendMessage()">{{ 'send' | translate }}</button>
  </div>
</div>
